# Server
PORT=3000
NODE_ENV=development

# Database (se usa a partir del Día 2)
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/task_api?schema=public"

# JWT (se usa a partir del Día 3)
JWT_ACCESS_SECRET="cambiame-por-un-secreto-largo"
JWT_REFRESH_SECRET="cambiame-por-otro-secreto-largo"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
